<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <meta name="author" content="Paul Sijpkes">
        
        <link rel="shortcut icon" href="../../../img/favicon.ico">

	<title>Landing page - APEG</title>

        <link href="../../../css/bootstrap-custom.min.css" rel="stylesheet">
        <link href="../../../css/font-awesome-4.0.3.css" rel="stylesheet">
        <link rel="stylesheet" href="../../../css/highlight.css">
        <link href="../../../css/base.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

        
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-80175715-1', 'bold.newcastle.edu.au/padocs');
            ga('send', 'pageview');
        </script>
        
    </head>

    <body>

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">

        <!-- Collapsed navigation -->
        <div class="navbar-header">
            <!-- Expander button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Main title -->
            <a class="navbar-brand" href="../../..">APEG</a>
        </div>

        <!-- Expanded navigation -->
        <div class="navbar-collapse collapse">
            <!-- Main navigation -->
            <ul class="nav navbar-nav">
            
            
                <li >
                    <a href="../../..">Home</a>
                </li>
            
            
            
                <li >
                    <a href="../../../About/">About</a>
                </li>
            
            
            
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                    
                        
<li >
    <a href="../../Administrators/">Administrators</a>
</li>

                    
                        
<li >
    <a href="../../Contributing/">Contributing</a>
</li>

                    
                        
<li >
    <a href="../../Installation/">Installation</a>
</li>

                    
                        
<li >
    <a href="../../Instructors/">Instructors</a>
</li>

                    
                        
<li >
    <a href="../../Students/">Students</a>
</li>

                    
                        
  <li class="dropdown-submenu">
    <a tabindex="-1" href="">Templates</a>
    <ul class="dropdown-menu">
        
            
<li >
    <a href="../">Home</a>
</li>

        
            
<li class="active">
    <a href="./">Landing page</a>
</li>

        
            
<li >
    <a href="../marking-guide/">Marking guide</a>
</li>

        
            
<li >
    <a href="../rubric/">Rubric</a>
</li>

        
    </ul>
  </li>

                    
                    </ul>
                </li>
            
            
            </ul>

            <!-- Search, Navigation and Repo links -->
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
                        <i class="fa fa-search"></i> Search
                    </a>
                </li>
                <li >
                    <a rel="next" href="../">
                        <i class="fa fa-arrow-left"></i> Previous
                    </a>
                </li>
                <li >
                    <a rel="prev" href="../marking-guide/">
                        Next <i class="fa fa-arrow-right"></i>
                    </a>
                </li>
                
                <li>
                    <a href="https://bitbucket.org/sijpkes/lti-peer-assessment">
                        
                            <i class="fa fa-bitbucket"></i>
                        
                        Bitbucket
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

        <div class="container">
            <div class="col-md-3"><div class="bs-sidebar hidden-print affix well" role="complementary">
    <ul class="nav bs-sidenav">
    
        <li class="main active"><a href="#landing-page-example-template">Landing Page Example Template</a></li>
        
    
    </ul>
</div></div>
            <div class="col-md-9" role="main">

<h1 id="landing-page-example-template">Landing Page Example Template</h1>
<pre><code class="html">&lt;!DOCTYPE html&gt;

&lt;html&gt;
&lt;head&gt;
    &lt;title&gt;{resource_title}&lt;/title&gt;
    &lt;meta content=&quot;width=device-width, initial-scale=1&quot; name=&quot;viewport&quot;&gt;
    &lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js&quot;&gt;
    &lt;/script&gt;
    &lt;link href=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css&quot; rel=&quot;stylesheet&quot;&gt;
    &lt;link href=&quot;{theme_folder_url}learning_tools_integration/css/bootstrap-select.min.css&quot; rel=&quot;stylesheet&quot;&gt;

    &lt;script src=&quot;https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js&quot;&gt;
    &lt;/script&gt;
    &lt;script src=&quot;{theme_folder_url}learning_tools_integration/js/bootstrap-select.min.js&quot;&gt;
    &lt;/script&gt;
    &lt;script src=&quot;{theme_folder_url}learning_tools_integration/js/bootbox.min.js&quot;&gt;&lt;/script&gt;
&lt;/head&gt;

&lt;body&gt;
&lt;style&gt;
                body {
                    font-family: 'verdana',Arial,Helvetica,sans-serif;
                }
                             .peer_comments {
                                        font-size: 14pt;
                                        padding: 0.8em;
                             }
                 h1, h2, h3, .baklink {
                    text-align: center;
                 }
                             .peer_comments &gt; p{
                                        font-family: &quot;Courier New&quot;, courier, mono-space;
                    text-align: center;
                             }
                             .peer_grades {

                             }
                             .score_spacer {
                                        width: 55px;
                                        min-width: 55px;
                                        display: inline-block;
                             }
                             .help_link {
                                        padding-top: 1.4em;
                             }

&lt;/style&gt;
&lt;div class='container-fluid'&gt;
    &lt;div class='row'&gt;
            {if lti_has_error}
            &lt;div class='col-xs-12 col-sm-12 well col-xs-offset-0 col-sm-offset-0 col-lg-offset-0'&gt;
                        {if lti_has_error == &quot;session expired&quot;}
                                &lt;p&gt;Your session has expired, please return to the course and click the link again.&lt;/p&gt;
                        {if:else}
                                &lt;p&gt;{lti_has_error}&lt;/p&gt;
                        {/if}
            &lt;/div&gt;
            {/if}

    {exp:learning_tools_integration prev_link_url='//localhost:9876/images/ci/ng/small_previous.gif' next_link_url='//uonline.newcastle.edu.au/images/ci/ng/small_next.gif' first_link_url='//uonline.newcastle.edu.au/images/ci/ng/small_rewind.gif' last_link_url='//uonline.newcastle.edu.au/images/ci/ng/small_ffwd.gif' plugins='lti_peer_assessment'} &lt;!-- {css_link_tags} --&gt; &lt;!-- imported from LMS --&gt;
    {if error_messages != &quot;&quot;} {error_messages} {/if} {if logged_in_username}

            &lt;div class='col-xs-12 col-sm-12 well col-xs-offset-0 col-sm-offset-0 col-lg-offset-0'&gt;
                &lt;h1&gt;{resource_title}&lt;/h1&gt;


                &lt;p&gt;{resource_link_description}&lt;/p&gt;


                &lt;p&gt;&lt;span class='warningMsg'{general_message}&lt;/span&gt;
                &lt;/p&gt;


                &lt;p class='baklink'&gt;&lt;a href='{launch_presentation_return_url}'&gt;Return to course: {course_name}&lt;/a&gt;
                &lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        {if is_instructor == 1}

        &lt;div class='row'&gt;
        {if group_id == 1}
            &lt;div class='col-xs-12 col-sm-3 col-md-3 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 well'&gt;
                &lt;h2&gt;General Settings&lt;/h2&gt;


                &lt;div id='admin'&gt;
                    &lt;h3&gt;Group import &amp;amp; Plugin settings&lt;/h3&gt;
                    {general_settings_form}
                &lt;/div&gt;

            &lt;/div&gt;
        {/if}

            &lt;div class='col-xs-12 col-sm-8 col-md-6 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 well'&gt;
                &lt;h1&gt;Students registered for Peer Evaluation&lt;/h1&gt;
                &lt;!--style='display: inline-block'--&gt;
                {student_table}
            &lt;/div&gt;
        &lt;/div&gt;


        &lt;div class='row'&gt;
            &lt;div class='col-xs-12 col-sm-4 col-xs-offset-0 col-sm-offset-1 well'&gt;
                &lt;h3&gt;Download Evaluations&lt;/h3&gt;


                &lt;h4&gt;&lt;em&gt;Download Evaluations as Excel Spreadsheet&lt;/em&gt;&lt;/h4&gt;
        &lt;p&gt;This spreadsheet contains a detailed breakdown of each peer assessment
          and how marks for each rubric criteria (if specified) were distributed.&lt;/p&gt;
                {exp:lti_peer_assessment:download_excel}

        &lt;h4&gt;&lt;em&gt;Download Evaluations as a simple CSV&lt;/em&gt;&lt;/h4&gt;
        &lt;p&gt;This is a basic option formatted in rows in a CSV.&lt;/p&gt;
                {exp:lti_peer_assessment:download_csv}
            &lt;/div&gt;


            &lt;div class='col-xs-12 col-sm-4 col-md-4 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 well'&gt;
                &lt;h3&gt;Give Students Access to Peer Evaluation {exp:lti_peer_assessment:help_link section='instructors' sub_section='manual_gradebook_upload' class='contextual_help_inline'}&lt;/h3&gt;
                {upload_student_list}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;


    &lt;div class='row'&gt;
        &lt;div class='col-xs-12 col-sm-4 col-xs-offset-0 col-sm-offset-1 well'&gt;
            &lt;h3&gt;Configure the Student View {exp:lti_peer_assessment:help_link section='instructors' sub_section='student_view' class='contextual_help_inline'}&lt;/h3&gt;
            {exp:lti_peer_assessment:settings radio_labels='Yes: ,No: '} {form_open} {if group_id == '1'}

            &lt;div class='well'&gt;
                &lt;h4&gt;Admin Permissions&lt;/h4&gt;


                &lt;p&gt;Instructors that can view Settings and Download assessment results&lt;br&gt;
                {instructors_dropdown}&lt;/p&gt;
            &lt;/div&gt;
            {/if}

            &lt;div class='well'&gt;
                &lt;p&gt;Score calculation algorithm: {score_calculation_dropdown}&lt;/p&gt;


                &lt;p&gt;&lt;br&gt;
                &lt;a href='//sparkplus.com.au/factors/#spa-sapa-header' target='_blank'&gt;Further information on SPARK SPA and SAPA algorithms (Willey, K)&lt;/a&gt;
                &lt;/p&gt;
            &lt;/div&gt;


            &lt;div class='well'&gt;
                &lt;p&gt;Students can view others' grades.&lt;br&gt;
                {show_grade_column} &lt;label for='show_grade_column'&gt;{label} {radio}&lt;/label&gt; {/show_grade_column}&lt;/p&gt;


                &lt;p&gt;Students can view others' comments.&lt;br&gt;
                {show_comments} &lt;label for='show_comments'&gt;{label} {radio}&lt;/label&gt; {/show_comments}&lt;/p&gt;


                &lt;p&gt;Students can see SAPA comparison.&lt;br&gt;
                {show_sapa} &lt;label for='show_sapa'&gt;{label} {radio}&lt;/label&gt; {/show_sapa}&lt;/p&gt;
            &lt;/div&gt;


            &lt;div class='well'&gt;
                &lt;p&gt;Students assess themselves as well as the group (self assessment).&lt;br&gt;
                &lt;em&gt;This option sets the first user in the list to the logged in student, all other students are greyed out until the student has self assessed&lt;/em&gt;&lt;br&gt;
                {allow_self_assessment} &lt;label for='show_sapa'&gt;{label} {radio}&lt;/label&gt; {/allow_self_assessment}&lt;/p&gt;
            &lt;/div&gt;


            &lt;div class='well'&gt;
                &lt;p&gt;Self score is included in the mean calculation for the group.&lt;br&gt;
                &lt;em&gt;This option includes the student's self assessment score in the mean calculation from the group score.&lt;/em&gt;&lt;br&gt;
                {include_self_in_mean_score} &lt;label for='include_self_in_mean_score'&gt;{label} {radio}&lt;/label&gt; {/include_self_in_mean_score}&lt;/p&gt;
            &lt;/div&gt;


            &lt;div class='well'&gt;
                &lt;p&gt;Total maximum score for assessment.&lt;br&gt;
                &lt;label for='total_score'&gt;Total maximum score for assessment {total_score}&lt;/label&gt;&lt;/p&gt;
            &lt;/div&gt;


            &lt;div class='well'&gt;
                &lt;p&gt;{submit_button}&lt;/p&gt;
            &lt;/div&gt;
            {form_close}
            &lt;script type='text/javascript'&gt;
                                      {settings_javascript}
            &lt;/script&gt; {/exp:lti_peer_assessment:settings}
        &lt;/div&gt;


        &lt;div class='col-xs-12 col-sm-4 col-md-5 col-xs-offset-0 col-sm-offset-1 col-md-offset-1 well'&gt;
            &lt;h3&gt;Blackboard Rubrics&lt;/h3&gt;

            &lt;p&gt;Upload rubrics here for this course, attached rubrics will be used by students to grade their peers.&lt;/p&gt;

            &lt;p&gt;&lt;em&gt;To create and export a rubric from Blackboard, go to &lt;strong&gt;Organisation Tools &amp;rarr; Rubrics&lt;/strong&gt;.&lt;/em&gt;
            &lt;/p&gt;

            &lt;h4&gt;Upload a rubric {exp:lti_peer_assessment:help_link section='instructors' sub_section='rubric' class='contextual_help_inline'}&lt;/h4&gt;
            {upload_blackboard_rubric}
        &lt;/div&gt;
    &lt;/div&gt;
    {if:else}

    &lt;div class='row'&gt;
        &lt;div class='col-xs-12 col-sm-12 col-lg-12'&gt;
            &lt;h1&gt;{exp:lti_peer_assessment:group_name}&lt;/h1&gt;
        &lt;/div&gt;
    &lt;/div&gt;


    &lt;div class='row'&gt;

        {exp:lti_peer_assessment:feedback type='rolling'}

        {if user_has_assessed}
        {if total &gt; 0}
        &lt;div class='col-xs-12 col-md-6 col-lg-6 peer_grades well col-md-offset-1 col-xs-offset-0 col-lg-offset-1'&gt;
            {if message}

            &lt;p{message}&lt;/p&gt;
            {if:else}


            &lt;h2&gt;How your group rates you.&lt;/h2&gt;


            &lt;table class='table table-striped'&gt;
                &lt;thead&gt;
                    &lt;tr&gt;
                        &lt;th&gt;Criteria&lt;/th&gt;

                        &lt;th&gt;Average Grade&lt;br&gt;
                        &lt;span id='percToggle'&gt;View as Percentage&lt;/span&gt;&lt;/th&gt;
                    &lt;/tr&gt;
                &lt;/thead&gt;


                &lt;tbody&gt;
                {criteria_rows}
                    &lt;tr&gt;
                        &lt;th&gt;{criteria}&lt;/th&gt;

                        &lt;td&gt;{mean} / {max}&lt;/td&gt;
                    &lt;/tr&gt;
                {/criteria_rows}
                &lt;/tbody&gt;


                &lt;tfoot&gt;
                    &lt;tr class='total'&gt;
                        &lt;th&gt;Total Mean Score&lt;/th&gt;

                        &lt;td&gt;{total} / {total_max}&lt;/td&gt;
                    &lt;/tr&gt;
                &lt;/tfoot&gt;
            &lt;/table&gt;

        &lt;/div&gt;
        {/if}

        &lt;div id='feedback' class='col-xs-12 col-md-4 col-lg-4 peer_comments well col-md-offset-1 col-xs-offset-0 col-lg-offset-1'&gt;
            {if has_comments}

        &lt;h2&gt;What your group is saying about you.&lt;/h2&gt;
                {comments}

                    &lt;p&gt;&amp;ldquo; {comment} &amp;rdquo;&lt;/p&gt;
                {/comments}

        &lt;/div&gt;
            {/if}
        {/if}

     {if:else}
        &lt;div id='message' class='col-xs-12 col-md-12 col-lg-12 well col-md-offset-0 col-xs-offset-0 col-lg-offset-0'&gt;
            &lt;p&gt;Your peer's feedback and calculated grades will appear here once you have assessed your group.&lt;/p&gt;
        &lt;/div&gt;
      {/if}

      {/exp:lti_peer_assessment:feedback}
    &lt;/div&gt;

&lt;/div&gt;



    &lt;div class='row'&gt;
        &lt;div class='col-xs-12 col-sm-6 col-lg-6 col-md-8 well col-xs-offset-0 col-sm-offset-1 col-md-offset-1 col-lg-offset-1'&gt;
            &lt;h2&gt;Your Evaluations of Other Group Members {exp:lti_peer_assessment:help_link section='students'}&lt;/h2&gt;


            &lt;h3&gt;Evaluation Form&lt;/h3&gt;


            &lt;!-- &lt;p style='font-size: 1.5em'&gt;&lt;a href='peer_assessment/marking_impact'&gt;Access this link for the Marking Impact document&lt;/a&gt; --&gt;
            &lt;/p&gt;
            &lt;br&gt;
            {exp:lti_peer_assessment:form type='rolling'}
                {if form_open}
                    &lt;!-- check if form is available --&gt;
                    {if has_rubric}
                        &lt;div id='rubricWrapper'&gt;
                    {/if}

                {form_open}

                &lt;table class='table'&gt;
                    &lt;thead&gt;
                        &lt;tr&gt;
                            &lt;th&gt;Name&lt;/th&gt;

                            &lt;th&gt;Score&lt;/th&gt;

                            &lt;th&gt;Comment&lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/thead&gt;


                    &lt;tbody&gt;
                    {table_rows}
                        &lt;tr {self_assess_id}&gt;
                            &lt;td&gt;{group_member_screen_name}&lt;/td&gt;

                            &lt;td&gt;{score_input}&lt;/td&gt;

                            &lt;td&gt;{comment_textarea}&lt;/td&gt;
                        &lt;/tr&gt;
                     {/table_rows}
                    &lt;/tbody&gt;
                &lt;/table&gt;
                {form_close}

                {if has_rubric}
                    {rubric_javascript}
                        &lt;/div&gt;
                {/if}
                {if:else}
                    &lt;p&gt;Thank you for your submission. To make another, please &lt;a href='{launch_presentation_return_url}'&gt;return to the course&lt;/a&gt;. &lt;/p&gt;
                {/if}
            {/exp:lti_peer_assessment:form}
        &lt;/div&gt;
    &lt;/div&gt;
    {/if}

    &lt;div class='row'&gt;
        &lt;div class='col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-lg-offset-0 well'&gt;
            &lt;p&gt;&lt;a class='baklink' href='{launch_presentation_return_url}'&gt;Return to course: {course_name}&lt;/a&gt;
            &lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;script&gt;
             $(document).ready(function() { $('select').selectpicker(); });
    &lt;/script&gt; {/if} {/exp:learning_tools_integration}
&lt;/body&gt;
&lt;/html&gt;

</code></pre>

<p></html></p></div>
        </div>

        <footer class="col-md-12">
            <hr>
            
                <center><a href='mailto:paul.sijpkes@newcastle.edu.au;paul.sijpkes@gmail.com'>Developer: Paul Sijpkes</a><br> <a href='https://bold.newcastle.edu.au'>The BOLD Team, The University of Newcastle, Australia</a></sub><br><sub><em>A living document</em> [rev. 1.2]</sub> </center>
            
            <center>Documentation built with <a href="http://www.mkdocs.org/">MkDocs</a>.</center>
        </footer>

        <script src="../../../js/jquery-1.10.2.min.js"></script>
        <script src="../../../js/bootstrap-3.0.3.min.js"></script>
        <script src="../../../js/highlight.pack.js"></script>
        <script>var base_url = '../../..';</script>
        <script data-main="../../../mkdocs/js/search.js" src="../../../mkdocs/js/require.js"></script>
        <script src="../../../js/base.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="Search Modal" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">Search</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            From here you can search these documents. Enter
                            your search terms below.
                        </p>
                        <form role="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search..." id="mkdocs-search-query">
                            </div>
                        </form>
                        <div id="mkdocs-search-results"></div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>